.items{
    display: grid;
    grid-template-columns: 50% 50%;
}
.article{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 400px;
}

.item-header{
    display: flex;
    flex-direction: row;
    padding: 0;
    border-bottom: 100px;
    padding: 5px;
    border-bottom-color: rgb(170, 110, 32);
}

